{% extends "base.html" %}

{% block title %} Main Page{% endblock %}

{% block subtitle %} Markdown Mini-Wiki Main Page {% endblock %}
{% block content %}
   <section id="wiki-main">
    <p>Welcome to the <b>Markdown Mini-Wiki</b>!</p> 

    <p>This is a wiki where you can create or edit pages by writing them in Markdown.</p>
    <form method="POST">
      <label for="search">Search for or create a page:</label>
      <input type="search" id="site-search" name="search" />
      <input type="submit" value="Go"></input>
    </form>
  </section>
  {%if pages%}
  <p>Or select from this list:</p>
   <div class="elements-list">
    {%for p in pages%}
    <span class= "single-element"><a href="{{ url_for('read_page',pagename=p['title']) }}">{{p['title']}}</a></span>
      <hr class="element-break">
    {%endfor%}
    </div>
    
    {%else%}
    <p>This wiki has no pages right now.</p>
  {% endif %}

{% endblock %}