{% extends "base.html" %}
{% block title %} Edit history for {{title}} {% endblock %}
{% block nav %}
  <nav>
  <button id="back"> <a href="{{ url_for('read_page',pagename=title)}}">back to page</a></button>
  <button id="home"> <a href="{{ url_for('index')}}">home</a></button>
</nav>
  {% endblock %}
    {% block subtitle %} Edit history for {{title}}{% endblock %}
{% block content %}
    {% if edits %}
    <div class="elements-list">
      {% for ed in edits %}

      <span class= "single-element">{{ed['type']}} at {{ed['timestamp']}}</span>
      <hr class="element-break">
      {% endfor %}
    </div>
    {% endif %}
    
{% endblock %}