{% extends "base.html" %}
{% block title %}{{title}} - Markdown MiniWiki {% endblock %}
{% block nav %}
<nav>
  <button id="edit"> <a href="{{ url_for('edit_page',pagename=title)}}">edit</a></button>
  <button id="delete"> <a href="{{ url_for('delete_page',pagename=title)}}">delete</a></button>
  <button id="home"> <a href="{{ url_for('index')}}">home</a></button>
  <button id="chron"> <a href="{{ url_for('page_chron',pagename=title)}}">edit history</a></button>
</nav>
{% endblock %}
{% block subtitle %}{{title}} {% endblock %}
{% block content %}
  
 

  <section id="content">{{content}}</section>
{% endblock %}
