<!DOCTYPE html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
  <script defer src={{url_for('static',filename='js/main.js')}}></script>
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
</head>
<body>
<nav>
  <button id="edit"> <a href="{{ url_for('edit_page',pagename=title)}}">edit</a></button>
  <button id="delete"> <a href="{{ url_for('delete_page',pagename=title)}}">delete</a></button>
  <button id="home"> <a href="{{ url_for('index')}}">home</a></button>
  <button id="chron"> <a href="{{ url_for('page_chron',pagename=title)}}">edit history</a></button>
</nav>
  <h1>{{title}} </h1>
  <hr />

  <section id="content">{{content}}</section>
</body>
