{% extends "base.html" %}
{% block title %} Editing {{title}} {% endblock %}
{% block nav %}
    <nav>
  <button id="back"> <a href="{{ url_for('read_page',pagename=title)}}">back to page</a></button>
  <button id="home"> <a href="{{ url_for('index')}}">home</a></button>
  <button id="chron"> <a href="{{ url_for('page_chron',pagename=title)}}">edit history</a></button>
</nav>
{% endblock %}
    {% block subtitle %} You are editing {{title}}{% endblock %}
    {% block content %}
    <form method="POST">
        <textarea name="content" id="edit-content" rows="30">{{content}}</textarea>
        <input type="submit" value="Submit edits"> </input>
    </form>

  {% endblock %}